<!----------------------------------------------->
<script type="text/javascript" src="app\javascript\webservicepy.js"></script>


<div class="col-md-6">

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Data collecte from scholar</h3>

        </div>
        <div class="panel-body" style="">
            <!----------------------------------------------->
            <div id="l">

                <div id="idForJS" ng-controller="DataminigController as data">

                    <script type="text/javascript" src="app\javascript\webservicepy.js"></script>

                    <b>{{data.title}}</b>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Mot clé:</label>
                        <div class="panel-body">
                            <input type="text" id="key" class="form-control" id="key">


                        </div>
                        <div class="panel panel-default" style="width:480px;margin-left: 15px;">
                            <label class="control-label col-sm-5">sauvegarder dans :</label>
                            <b>csv</b>

                            <input type="checkbox" id="csv">
                            <b>MongoDb</b>

                            <input type="checkbox" id="mongo">
                        </div>
                    </div>


                    <div class="col-sm-12">


                        <button type="button" onclick="collecter()" class="col-sm-12 btn btn-danger btn-load"> start
                        </button>

                    </div>

                </div>
            </div>
            <!----------------------------------------------->
        </div>
    </div>
</div>
</div>

<div class="col-md-6">

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Data migration from Scholar to Solr</h3>

        </div>
        <div class="panel-body" style="">
            <!----------------------------------------------->
            <div id="">

                <div ng-controller="DataminigController as data">

                    <button ng-click="data.getAllDb()">refresh</button>

                    <form method="post" ng-submit="data.startMigration()">
                        <div class="form-group">
                            <label class="control-label col-sm-2">dbs:</label>
                            <div class="panel-body">

                                <select class="combobox2 form-control" ng-model="data.dbname"
                                        ng-options="item.dbname as item.dbname for item in data.items">
                                    <option></option>
                                </select>

                            </div>

                            <div class="panel panel-default" style="width:480px;margin-left: 15px;">

                            </div>
                        </div>


                        <div class="col-sm-12">


                            <button type="submit" class="col-sm-12 btn btn-danger btn-load"> start
                            </button>

                        </div>
                    </form>
                </div>
            </div>
            <!----------------------------------------------->
        </div>
    </div>
</div>


<div class="col-md-6">

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Data collecte from Hal</h3>

        </div>
        <div class="panel-body" style="">
            <!----------------------------------------------->
            <div>

                <div ng-controller="halController as hal">


                    <form method="post" ng-submit="hal.collecte()">
                        <div class="form-group">

                            <input type="text" ng-model="hal.keyCollecte" class="form-control">

                        </div>


                        <div class="col-sm-12">


                            <button type="submit" class="col-sm-12 btn btn-danger btn-load"> start
                            </button>

                        </div>
                    </form>
                </div>
            </div>
            <!----------------------------------------------->
        </div>
    </div>
</div>


<div class="col-md-6">

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Data migration from Hal to Solr</h3>

        </div>
        <div class="panel-body" style="">
            <!----------------------------------------------->
            <div>

                <div ng-controller="">

                    <form method="post" ng-submit="">
                        <div class="form-group">


                        </div>

                        <div class="col-sm-12">


                            <button type="submit" class="col-sm-12 btn btn-danger btn-load"> migrate
                            </button>

                        </div>
                    </form>
                </div>
            </div>
            <!----------------------------------------------->
        </div>
    </div>
</div>