<div ng-controller="halController as halsearch">
    <form ng-submit="halsearch.search()">
        <div class="panel-body">
            <input type="text" ng-model="halsearch.key" class="form-control" placeholder="titre">
            <input type="text" ng-model="halsearch.keyAuthor" class="form-control" placeholder="autheur">
            <input type="text" ng-model="halsearch.keyInstitution" class="form-control" placeholder="institution">
            <button type="submit">search</button>
        </div>

        <div class="panel panel-default" style="width:480px;margin-left: 15px;">
            <label class="control-label col-sm-5">search filtre</label>
            <b>titre</b>
            <input type="checkbox" ng-model="halsearch.titre">
            <b>autheurs</b>

            <input type="checkbox" ng-model="halsearch.autheurs">
            <b>institution</b>

            <input type="checkbox" ng-model="halsearch.ins">
        </div>
    </form>


    <div>
        <div ng-repeat="x in halsearch.halResults">
            <b>titre :</b>
            <p>{{x.titre[0]}}</p><br>
            <b>auteurs :</b>
            <div ng-repeat="y in x.autheurs">
                <p>{{y}}</p>
            </div><br>
            <b>institutions :</b>
            <div ng-repeat="y in x.institution">
                <p>{{y}}</p>
            </div><br>
            <b>Document :</b>
            <a ng-if="x.document_url" ng-href="{{x.document_url}}">{{x.document_url}}</a>
            <p>*************************************************************</p><br>
        </div>
    </div>

</div>