<form ng-submit="search.doSearch()">
<input style="width: 400px" type="text" placeholder="rechercher un expert avec mot clé" ng-model="search.searchTitle"/>
    <button type="submit">rechercher</button>
    <br>
    <br>
    <p>Options de recherche :</p>
    <p>(Domaine par défaut)</p>
    <input type="checkbox" id="name" ng-model="search.byName" ng-checked="false"/>
    <label for="name">Nom</label>

    <input type="checkbox" id="tag" ng-model="search.byTag" ng-checked="true"/>
    <label for="tag">Domaine</label>

    <input type="checkbox" id="affiliation" ng-model="search.byAffiliation" ng-checked="false"/>
    <label for="affiliation">Affiliation</label>
</form>

<button ng-click="search.findClusters()">find clusters</button>
<h4>Clusters :</h4>
<p ng-repeat="cluster in search.clusters">{{cluster.labels}}</p>

<h4>Results : </h4>
<div ng-repeat="x in search.expertsResult.docs">
    <p>Name : {{x.prof_name}}</p>
    <p>Tag text : {{x.tag}}</p>
    <p>Affiliation : {{x.affiliations}}</p>
<p>*******************************</p>
</div>
