<div ng-controller="SearchController as search">

    <div>

        <div class="col-md-4">
            <div id="visualization" style="width: 350px; height: 700px"></div>
        </div>

        <div class="col-md-8">

            <h3>PROFILS</h3>
            <div>

                <form ng-submit="search.findClusters()">
                    <input type="search" class="form-control" style="width: 400px" type="text"
                           placeholder="recherche par domaine"
                           ng-model="search.searchTitleByDomaine"/><br>
                    <input type="search" class="form-control" style="width: 400px" type="text"
                           placeholder="recherche par nom"
                           ng-model="search.searchTitleByName"/><br>
                    <input type="search" class="form-control" style="width: 400px" type="text"
                           placeholder="recherche par affiliation"
                           ng-model="search.searchTitleByAffiliation"/><br>
                    <button type="submit" class="btn-primary btn">rechercher</button>
                </form>

                <br>
                <div ng-repeat="x in search.documentsAfterCluster track by $index">
                    <div class="" style="background-color: aliceblue; width: 500px;">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <button class="btn-link" ng-click="search.searchPapersByTag(x.tag[0])">{{x.prof_name[0]}}</button>
                            </div>
                            <div class="panel-body">
                                <div class="" style="color :#00B7FF">{{x.affiliations[0]}}</div>
                                <div class="">{{x.tag[0]}}</div>
                            </div>
                        </div>

                    </div>
                    <br>
                </div>

            </div>
        </div>
    </div>
</div>



